<div class="ui-header">

  <div class="ui-menu-collapsed" (click)="TapIsCollapsed()">
    <i class="anticon" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"></i>
  </div>

  <div class="ui-user-info">
    <div class="ui-user-cell">
      <i class="anticon anticon-message"></i>
    </div>

    <div class="ui-user-cell">
      <img src="./assets/images/default-boy.png" alt="">
      <span>{{ user.userInfo?.name }}</span>
      <div class="ui-user-fixed">
        <ul>
          <li (click)="user.signOut()">退出</li>
        </ul>
      </div>
    </div>
  </div>

</div>