<cm-query [node]="queryNode" (onSubmit)="CmTable.request($event)"></cm-query>

<div class="list-buttons">
  <button nz-button [nzType]="'primary'">
    <i class="anticon anticon-plus"></i>
    <span>新建名单</span>
  </button>
  <button nz-button [nzType]="'default'">
    <span>导入名单</span>
  </button>
</div>

<cm-alert [isShow]="checkedItems.length" type="info">选择 <a href="javascript: void(0)">{{ checkedItems.length }}条</a> 相关记录</cm-alert>

<cm-table #CmTable [thead]="tableNode" [(checkedItems)]="checkedItems" url="/customer/potentialCustomerList">
  <ng-container>
    <tbody nz-tbody>
      <ng-template ngFor let-data [ngForOf]="CmTable.dataSet">
        <tr nz-tbody-tr>
          <td nz-td nzCheckbox>
            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="CmTable.isChecked($event)"></label>
          </td>
          <td>{{ data.babyName }}</td>
          <td>{{ data.sex }}</td>
          <td>{{ data.xxxxx }}</td>
          <td>{{ data.parentName }}</td>
          <td>{{ data.mobilePhone }}</td>
          <td>{{ data.createDate }}</td>
          <td>{{ data.source }}</td>
          <td>{{ data.community }}</td>
          <td>{{ data.xxxxx }}</td>
          <td>{{ data.followStage }}</td>
          <td>{{ data.lastFollowTime }}</td>
          <td>{{ data.nextFollowTime }}</td>
          <td>{{ data.followSeller }}</td>
        </tr>
      </ng-template>
    </tbody>
  </ng-container>
</cm-table>