:host ::ng-deep {
    nz-rangepicker .ant-calendar-picker {
        width: 100% !important;

        input {
            text-align: left;
        }
    }
}

cm-alert {
    display: block;
    margin-bottom: 16px;
}