<div class="container">

  <form nz-form [formGroup]="customerForm">

    <div class="form-block">
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>跟进阶段</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="followStage" nzPlaceHolder="请选择跟进阶段" nzAllowClear>
            <nz-option nzLabel="未跟进" nzValue="1"></nz-option>
            <nz-option nzLabel="跟进中" nzValue="2"></nz-option>
            <nz-option nzLabel="已预约到店体验" nzValue="3"></nz-option>
            <nz-option nzLabel="已到店未体验" nzValue="4"></nz-option>
            <nz-option nzLabel="已到店体验" nzValue="5"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('followStage').dirty && getFormControl('followStage').hasError('followStage')">请选择跟进阶段</div>
        </div>
      </div>
    </div>

    <cm-quote>宝宝信息</cm-quote>

    <div class="form-block">

      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="babyNick" nz-form-item-required>宝宝爱称</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="babyNick" nzPlaceHolder="请输入宝宝爱称" nzId="babyNick"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('babyNick').dirty && getFormControl('babyNick').hasError('babyNick')">请输入2-20位宝宝爱称</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="babyName">宝宝姓名</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="babyName" nzPlaceHolder="请输入宝宝姓名" nzId="babyName"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('babyName').dirty && getFormControl('babyName').hasError('babyName')">请输入2-20位宝宝姓名</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>宝宝姓名</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-radio-group formControlName="sex">
            <label nz-radio [nzValue]="1">
              <span>男</span>
            </label>
            <label nz-radio [nzValue]="2">
              <span>女</span>
            </label>
          </nz-radio-group>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="ethnic">民族</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="ethnic" nzPlaceHolder="请输入宝宝民族" nzId="ethnic"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('ethnic').dirty && getFormControl('ethnic').hasError('ethnic')">请输入正确的民族</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="babyBirthday">宝宝生日</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-datepicker formControlName="babyBirthday" nzPlaceHolder="请选择宝宝生日" [style.width]="'100%'"></nz-datepicker>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>星座</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="constellation" nzPlaceHolder="请先选择宝宝生日" [nzDisabled]="true"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>宝宝类型</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="babyType" nzPlaceHolder="请选择宝宝类型" nzAllowClear>
            <nz-option nzLabel="婴儿" nzValue="1"></nz-option>
            <nz-option nzLabel="幼儿" nzValue="2"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>所属小区</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="communityId" nzPlaceHolder="请选择所属小区" nzShowSearch nzAllowClear>
            <nz-option nzLabel="小区1" nzValue="1"></nz-option>
            <nz-option nzLabel="小区2" nzValue="2"></nz-option>
          </nz-select>
          <div nz-form-explain>搜索不到小区? 马上去<a href="javascript:;">新建小区</a>吧</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="24">
        <div nz-form-label nz-col [nzSpan]="4">
          <label for="remarks">备注</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="20">
          <nz-input formControlName="remarks" nzType="textarea" nzPlaceHolder="请输入备注" nzId="remarks"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('remarks').dirty && getFormControl('remarks').hasError('remarks')">最多200个字符</div>
        </div>
      </div>

    </div>

    <cm-quote>家长信息</cm-quote>

    <div class="form-block">

      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="parentName" nz-form-item-required>家长姓名</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="parentName" nzPlaceHolder="请输入家长姓名" nzId="parentName"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('parentName').dirty && getFormControl('parentName').hasError('parentName')">请输入2-20位家长姓名</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="mobilePhone" nz-form-item-required>家长电话</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="mobilePhone" nzPlaceHolder="请输入家长电话" nzId="mobilePhone"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('mobilePhone').dirty && getFormControl('mobilePhone').hasError('mobilePhone')">请输入正确的家长电话</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>家长身份</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="parentType" nzPlaceHolder="请选择家长身份" nzAllowClear>
            <nz-option nzLabel="爸爸" nzValue="1"></nz-option>
            <nz-option nzLabel="妈妈" nzValue="2"></nz-option>
            <nz-option nzLabel="爷爷" nzValue="3"></nz-option>
            <nz-option nzLabel="奶奶" nzValue="4"></nz-option>
            <nz-option nzLabel="外公" nzValue="5"></nz-option>
            <nz-option nzLabel="外婆" nzValue="6"></nz-option>
            <nz-option nzLabel="姑姑" nzValue="7"></nz-option>
            <nz-option nzLabel="其他" nzValue="8"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('parentType').dirty && getFormControl('parentType').hasError('parentType')">请选择家长身份</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="qq">微信|QQ</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="qq" nzPlaceHolder="请输入家长微信或QQ" nzId="qq"></nz-input>
        </div>
      </div>

    </div>

    <cm-quote>来源</cm-quote>

    <div class="form-block">

      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>来源</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="source" nzPlaceHolder="请选择来源" nzAllowClear>
            <nz-option nzLabel="线下地推" nzValue="1"></nz-option>
            <nz-option nzLabel="主动到店" nzValue="2"></nz-option>
            <nz-option nzLabel="小程序" nzValue="3"></nz-option>
            <nz-option nzLabel="微信朋友圈" nzValue="4"></nz-option>
            <nz-option nzLabel="今日头条" nzValue="5"></nz-option>
            <nz-option nzLabel="其他" nzValue="6"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('source').dirty && getFormControl('source').hasError('source')">请选择来源</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>推荐人</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="recommended" nzPlaceHolder="请选择推荐人" nzAllowClear>
            <nz-option nzLabel="线下地推" nzValue="1"></nz-option>
            <nz-option nzLabel="主动到店" nzValue="2"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>收集人</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="collector" nzPlaceHolder="请选择收集人" nzAllowClear>
            <nz-option nzLabel="线下地推" nzValue="1"></nz-option>
            <nz-option nzLabel="主动到店" nzValue="2"></nz-option>
            <nz-option nzLabel="小程序" nzValue="3"></nz-option>
          </nz-select>
        </div>
      </div>

    </div>

    <div class="form-footer">
      <button nz-button nzType="primary" nzSize="large" (click)="_submit()">提交</button>
      <button nz-button nzType="default" nzSize="large" routerLink="/home/customer/all">取消</button>
    </div>


  </form>

</div>