<nz-spin [nzSpinning]="_selectLoading" nzTip="正在获取客户信息...">

<div class="container">

  <form nz-form [formGroup]="customerForm">

    <!-- <div class="form-block">
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>跟进阶段</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="followStageId" nzPlaceHolder="请选择跟进阶段" nzAllowClear>
            <nz-option *ngFor="let item of followStageList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('followStageId').dirty && getFormControl('followStageId').hasError('required')">请选择跟进阶段</div>
        </div>
      </div>
    </div> -->

    <cm-quote>宝宝信息</cm-quote>

    <div class="form-block">

      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="nick" nz-form-item-required>宝宝昵称</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="nick" nzPlaceHolder="请输入宝宝爱称" nzId="nick"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('nick').dirty && ( getFormControl('nick').hasError('required') || getFormControl('nick').hasError('minlength') || getFormControl('nick').hasError('maxlength') )">请输入2-20位字符</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="name">宝宝姓名</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="name" nzPlaceHolder="请输入宝宝姓名" nzId="name"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>宝宝姓名</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-radio-group formControlName="sex">
            <label nz-radio nzValue="男">
              <span>男</span>
            </label>
            <label nz-radio nzValue="女">
              <span>女</span>
            </label>
          </nz-radio-group>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="ethnic">民族</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="ethnic" nzPlaceHolder="请输入宝宝民族" nzId="ethnic"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('ethnic').dirty && getFormControl('ethnic').hasError('required')">请输入正确的民族</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="birthday">宝宝生日</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-datepicker formControlName="birthday" nzPlaceHolder="请选择宝宝生日" [style.width]="'100%'" [nzDisabledDate]="_disabledDate"></nz-datepicker>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>星座</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="constellation" nzPlaceHolder="请先选择宝宝生日" [nzDisabled]="true"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>宝宝类型</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="babyType" nzPlaceHolder="请选择宝宝类型" nzDisabled>
            <nz-option nzLabel="婴儿" nzValue="婴儿"></nz-option>
            <nz-option nzLabel="幼儿" nzValue="幼儿"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>所属小区</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="communityId" nzPlaceHolder="请选择所属小区" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let item of showCommunityList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <div nz-form-explain>搜索不到小区? 马上去<a href="javascript:;" (click)="ceateHousing(title, content, footer)">新建小区</a>吧</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="24">
        <div nz-form-label nz-col [nzSpan]="4">
          <label for="visitRemarks">备注</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="20">
          <nz-input formControlName="visitRemarks" nzType="textarea" nzPlaceHolder="请输入备注" nzId="visitRemarks"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('visitRemarks').dirty && getFormControl('visitRemarks').hasError('maxlength')">最多300个字符</div>
        </div>
      </div>

    </div>

    <cm-quote>家长信息</cm-quote>

    <div class="form-block">

      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="parentName" nz-form-item-required>家长姓名</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="parentName" nzPlaceHolder="请输入家长姓名" nzId="parentName"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('parentName').dirty && (getFormControl('parentName').hasError('required') || getFormControl('parentName').hasError('minlength') || getFormControl('parentName').hasError('maxlength'))">请输入2-20位字符</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="mobilePhone" nz-form-item-required>家长电话</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="mobilePhone" nzPlaceHolder="请输入家长电话" nzId="mobilePhone"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('mobilePhone').dirty && (getFormControl('mobilePhone').hasError('required') || getFormControl('mobilePhone').hasError('pattern'))">请输入正确的家长电话</div>
          <div nz-form-explain *ngIf="getFormControl('mobilePhone').dirty && getFormControl('mobilePhone').hasError('duplicated')">该手机号码已存在</div>
          <div nz-form-explain *ngIf="getFormControl('mobilePhone').dirty && getFormControl('mobilePhone').pending">正在校验手机号码是否存在...</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>家长身份</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="parentRelationShipId" nzPlaceHolder="请选择家长身份" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let item of parentIdentityList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('parentRelationShipId').dirty && getFormControl('parentRelationShipId').hasError('required')">请选择家长身份</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label for="parentWeChat">微信|QQ</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="parentWeChat" nzPlaceHolder="请输入家长微信或QQ" nzId="parentWeChat"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('parentWeChat').dirty && getFormControl('parentWeChat').hasError('pattern')">请输入正确的微信或QQ</div>
        </div>
      </div>

    </div>

    <cm-quote>来源</cm-quote>

    <div class="form-block">

      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>来源</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="sourceId" nzPlaceHolder="请选择来源" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let item of sourceList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('sourceId').dirty && getFormControl('sourceId').hasError('required')">请选择来源</div>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>推荐人</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="recommendedId" nzPlaceHolder="请选择推荐人" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let item of recommenderList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-form-item nz-row nz-col [nzSpan]="12">
        <div nz-form-label nz-col [nzSpan]="8">
          <label>收集人</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-select formControlName="collectorId" nzPlaceHolder="请选择收集人" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let item of collectorList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
        </div>
      </div>

    </div>

    <div class="form-footer">
      <button nz-button nzType="primary" nzSize="large" [nzLoading]="_submitLoading" (click)="_submit()">{{ _submitLoading ? '提交中...' : '提交' }}</button>
      <button nz-button nzType="default" nzSize="large" routerLink="/home/customer/all">取消</button>
    </div>


  </form>

</div>

</nz-spin>


<!-- 新建小区模板 -->
<ng-template #title>
  <span>新建小区</span>
</ng-template>
<ng-template #content>
  <nz-input nzPlaceHolder="请输入小区名称" [(ngModel)]="housingName"></nz-input>
</ng-template>
<ng-template #footer>
  <div>
    <button nz-button nzType="primary" nzSize="large" 
      [nzLoading]="isConfirmLoading" 
      (click)="submitHousing()"
      [disabled]="!housingName?.length">{{ isConfirmLoading ? '提交中...' : '提 交' }}</button>
  </div>
</ng-template>