<nz-card nzNoHovering>
  <ng-template #title>数据统计</ng-template>

  <ng-template #extra>
    <nz-datepicker style="width: 200px;" [nzDisabledDate]="_disabledDate" [(ngModel)]="_month" nzMode="month" nzSize="size" [nzAllowClear]="false"
      nzPlaceHolder="请选择月份" nzFormat="YYYY-MM"></nz-datepicker>
  </ng-template>
  <ng-template #body>
    <div routerLink="/home/customer/all" nz-card-grid [ngStyle]="{ width: '25%', 'font-size': '28px',extAlign: 'center',color: '#fff', background: '#108ee9' }"><h4 style="color: #fff;font-size: 14px; margin-bottom: 16px;">今日需回访客户:</h4>{{ result?.todayReturnVisit }}</div>
    <div nz-card-grid [ngStyle]="{ width: '25%', 'font-size': '28px',extAlign: 'center' }"><h4 style="font-size: 14px; margin-bottom: 16px; color: #999;">{{ _monthString }}月份新增客户:</h4>{{ result?.monthAdded }}</div>
    <div nz-card-grid [ngStyle]="{ width: '25%', 'font-size': '28px',extAlign: 'center' }"><h4 style="font-size: 14px; margin-bottom: 16px; color: #999;">{{ _monthString }}月份邀约成功率:</h4>{{ result?.monthSuccessRate || 0 }}</div>
    <div nz-card-grid [ngStyle]="{ width: '25%', 'font-size': '28px',extAlign: 'center' }"><h4 style="font-size: 14px; margin-bottom: 16px; color: #999;">全部客户:</h4>{{ result?.allClient }}</div>
  </ng-template>
</nz-card>