<cm-query [node]="queryNode" (onSubmit)="CmTable.request($event)"></cm-query>


<cm-alert [isShow]="checkedItems.length" type="info">
  选择 <a href="javascript: void(0)">{{ checkedItems.length }}条</a> 相关记录
  <a href="javascript:;" (click)="gainClue()">捞取</a>
</cm-alert>

<cm-table #CmTable [thead]="tableNode" [checked]="true" [allowSpace]="false" [(checkedItems)]="checkedItems" url="/customer/showNoIntentionCustomer">
  <ng-container>
    <tbody nz-tbody>
      <ng-template ngFor let-data [ngForOf]="CmTable.dataSet">
        <tr nz-tbody-tr>
          <td nz-td nzCheckbox>
            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="CmTable.isChecked($event)"></label>
          </td>
          <td>{{ data.nick }}</td>
          <td>{{ data.name || '--' }}</td>
          <td>{{ data.birthday || '--' }}</td>
          <td><i class="iconfont" [title]="data.sex" [ngClass]="[ data.sex === '男' ? 'icon-nan' : 'icon-nv']"></i></td>
          <td>{{ data.birthday | monthdiff }}</td>
          <td>{{ data.parentName }}</td>
          <td><a href="javascript:;" [CmGetphone]="data.id">查看</a></td>
          <td>{{ data.communityName || '--' }}</td>
          <td>{{ data.createDate }}</td>
          <td>{{ data.nextFollowTime || '--' }}</td>
          <td>{{ data.lastFollowTime || '--' }}</td>
          <td>{{ data.sourceName || '--' }}</td>
          <td>{{ data.memberStatus || '--' }}</td>
          <td>{{ data.followStage + (data.followNum ? '('+ data.followNum +')' : '') }}</td>
          <td>{{ data.contributors || '--' }}</td>
        </tr>
      </ng-template>
    </tbody>
  </ng-container>
</cm-table>