<div class="store-effect">
	<nz-carousel nzAutoPlay>
		<div nz-carousel-content *ngFor="let index of array">
			<h3>{{index}}</h3>
		</div>
	</nz-carousel>

	<div class="store-info-header">
		<h2>
			<span>北京甘露园物美店</span>
			<a href="javascript:;">导航</a>
		</h2>
		<div>
			<p>朝阳区 奥体中心购物中心地下1层</p>
			<span>102m</span>
		</div>
	</div>

	<div class="store-info-block">
		<h2>门店活动</h2>
		<div class="block-conent">
			<div>
				<h4>暖冬游泳体验卡</h4>
				<p>冬日游玩的好去处，宝宝早教+健身</p>
				<div>￥<b>29</b>.9</div>
			</div>
			<div>
				<h4>暖冬游泳体验卡</h4>
				<p>冬日游玩的好去处，宝宝早教+健身</p>
				<div>￥<b>29</b>.9</div>
			</div>
		</div>
	</div>
</div>