<div class="store-effect">
	<nz-carousel nzAutoPlay>
		<div nz-carousel-content *ngFor="let index of array">
			<h3>{{index}}</h3>
		</div>
	</nz-carousel>

	<div class="store-info-header">
		<h2>
			<span>北京甘露园物美店</span>
			<a href="javascript:;">导航</a>
		</h2>
		<div>
			<p>朝阳区 奥体中心购物中心地下1层</p>
			<span>102m</span>
		</div>
	</div>

	<div class="store-info-block">
		<h2>门店活动</h2>
		<div class="block-conent">
			<div>
				<h4>暖冬游泳体验卡</h4>
				<p>冬日游玩的好去处，宝宝早教+健身</p>
				<div>￥<b>29</b>.9</div>
			</div>
			<div>
				<h4>暖冬游泳体验卡</h4>
				<p>冬日游玩的好去处，宝宝早教+健身</p>
				<div>￥<b>29</b>.9</div>
			</div>
		</div>
	</div>

	<div class="store-info-block">
		<h2>门店信息</h2>
		<div class="store-info-cell">
			<div class="cell-head">
				<div>
					<img src="http://ylbb-wxapp.oss-cn-beijing.aliyuncs.com/store/icon-rest.png" alt="家长休息区">
					<span>家长休息区</span>
				</div>
				<div>
					<img src="http://ylbb-wxapp.oss-cn-beijing.aliyuncs.com/store/icon-deposit.png" alt="寄存区">
					<span>寄存区</span>
				</div>
				<div>
					<img src="http://ylbb-wxapp.oss-cn-beijing.aliyuncs.com/store/icon-parking.png" alt="停车场">
					<span>停车场</span>
				</div>
				<div>
					<img src="http://ylbb-wxapp.oss-cn-beijing.aliyuncs.com/store/icon-wifi.png" alt="免费WIFI">
					<span>免费WIFI</span>
				</div>
			</div>
			<div class="cell-time">10:00:00-21:00:00 周一至周五</div>
			<div class="cell-address">北京市朝阳区朝阳路79号甘露园物美-北京市朝阳区朝阳路79号甘露园物美</div>
			<div class="cell-map">
				<p>地铁：6号线 北京市朝阳区朝阳路79号甘露园物美</p>
				<p>公交：648路，605路，419路北京市朝阳区朝阳路79号甘露园物美</p>
			</div>
			<div class="cell-tcc">
				<p>名称：芳清园停车场</p>
				<p>参考价格：1元/0.5小时(07:00-21:00)</p>
				<p>地址：北京市海淀区黑泉路与龙岗路交叉口东南150米</p>
			</div>
		</div>
	</div>

	<div class="store-bottom-footer">预约体验</div>
</div>