<cm-query [node]="queryNode" (onSubmit)="CmTable.request($event)"></cm-query>

<cm-table #CmTable [thead]="tableNode" url="/market/activityStaticsList">
    <ng-container>
        <tbody nz-tbody>
            <ng-template ngFor let-data [ngForOf]="CmTable.dataSet">
                <tr nz-tbody-tr>
                    <td><a href="javascript: void(0);">{{ data.activityName }}</a></td>
                    <td [ngSwitch]="data.activityStatus">
                        <nz-tag *ngSwitchCase="0">未发布</nz-tag>
                        <nz-tag *ngSwitchCase="1" [nzColor]="'#2db7f5'">已发布</nz-tag>
                        <nz-tag *ngSwitchDefault [nzColor]="'#f50'">已下线</nz-tag>
                    </td>
                    <td><nz-tag [routerLink]="['/home/marketing/data/statistics', data.id]" [nzColor]="'blue'">{{ data.effectiveUser }}</nz-tag></td>
                    <td>{{ data.activityStartTime + ' 至 ' + data.activityEndTime }}</td>
                    <td>{{ data.createTime }}</td>
                    <td>
                        <nz-popover [nzTrigger]="'hover'" nzPlacement="left" (nzVisibleChange)="visibleChart($event, data)">
                            <button nz-popover nz-button [nzType]="'primary'" [nzShape]="'circle'"><i class="anticon anticon-pie-chart"></i></button>
                            <ng-template #nzTemplate>
                                <nz-spin [nzSpinning]="!data.chartInfo" [nzTip]="'正在读取数据...'">
                                    <div style="width: 550px; height: 440px;">
                                        <h4 style="text-align: center; line-height: 40px; font-size: 16px; color: #666; border-bottom: solid 1px #eee;">有效客户: <span style="font-size: 20px;">{{data.effectiveUser}}</span></h4>
                                        <v-chart [forceFit]="forceFit" [height]="400" [width]="550" [data]="data.chartInfo" [scale]="scale">
                                            <v-tooltip [showTitle]="false"></v-tooltip>
                                            <v-axis></v-axis>
                                            <v-pie position="percent" color="collector" [style]="pieStyle" [label]="labelConfig"></v-pie>
                                            <v-coord type="theta" [radius]="0.75" [innerRadius]="0.6"></v-coord>
                                            <v-legend dataKey="collector"></v-legend>
                                        </v-chart>
                                    </div>
                                </nz-spin>
                            </ng-template>
                        </nz-popover>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </ng-container>
</cm-table>

