<nz-table 
  #nzTable 
  [ngClass]="[ allowSpace ? 'break' : 'nowrap' ]"
  [nzAjaxData]="dataSet" 
  [nzShowSizeChanger]="true" 
  [nzShowTotal]="true"
  [nzLoading]="_pageInfo.loading" 
  [nzTotal]="_pageInfo.totalPage"
  [(nzPageIndex)]="_pageInfo.pageNum" 
  (nzPageIndexChange)="_request()" 
  [(nzPageSize)]="_pageInfo.pageSize"
  (nzPageSizeChange)="_request(true)"
  (nzPageIndexChange)="isChecked()" 
  (nzPageSizeChange)="isChecked()">
  <thead nz-thead>
    <tr>
      <th nz-th nzCheckbox *ngIf="checked">
        <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)"></label>
      </th>
      <th nz-th nzExpand *ngIf="expand"></th>
      <ng-container *ngFor="let head of thead">
        <th nz-th [nzWidth]="head.width || ''">
          <span>{{ head.name || head }}</span>
        </th>
      </ng-container>
    </tr>
  </thead>
  <ng-content></ng-content>
</nz-table>