<div class="container">
  <div class="header">
    <div class="search-input">
      <nz-input nzPlaceHolder="请输入活动名称" [(ngModel)]="queryForm.name" [nzType]="'search'" (nzOnSearch)="searchSubmit()">
        <ng-template #addOnAfter>
          <button nz-button [nzType]="'primary'" (click)="searchSubmit()">
            <span>搜 索</span>
          </button>
        </ng-template>
      </nz-input>
    </div>
    <div class="search-form">
      <div class="form-item">
        <div class="item-label">场景:</div>
        <div class="item-content">
          <nz-checkable-tag [nzChecked]="!queryForm.scencesId.length || queryForm.scencesId.length === sceneItems.length" (nzChange)="queryCheckAll($event, 'scencesId')">全部</nz-checkable-tag>
          <nz-checkable-tag *ngFor="let item of sceneItems" [nzChecked]="queryForm.scencesId.indexOf(item.id) > -1"  (nzChange)="queryCheckChange($event, 'scencesId', item.id)">{{ item.name }}</nz-checkable-tag>
        </div>
      </div>
      <div class="form-item">
        <div class="item-label">节日:</div>
        <div class="item-content">
          <nz-checkable-tag [nzChecked]="!queryForm.festivalId.length || queryForm.festivalId.length === festivalItems.length" (nzChange)="queryCheckAll($event, 'festivalId')">全部</nz-checkable-tag>
          <nz-checkable-tag *ngFor="let item of festivalItems" [nzChecked]="queryForm.festivalId.indexOf(item.id) > -1" (nzChange)="queryCheckChange($event, 'festivalId', item.id)">{{ item.name }}</nz-checkable-tag>
        </div>
      </div>
    </div>
  </div>

  <div class="content" nz-row>

    <nz-spin [nzSpinning]="activityLoading" nzTip="正在加载模板数据...">
      <div class="content-not-found" [hidden]="activityItems.length">
        <i class="anticon anticon-frown-o"></i>无结果!
      </div>
      <div nz-col [nzXs]="24" [nzSm]="8" [nzLg]="6" [nzXl]="4" *ngFor="let item of activityItems">
        <div class="card-item">
          <nz-card>
            <ng-template #body>
              <div class="custom-image">
                <img class="thumbnail" [src]="item.thumbnail" />
                <div class="qrcode">
                  <img src="http://qr.liantu.com/api.php?text={{item.address}}/index.html" />
                </div>
              </div>
              <div class="custom-card">
                <h3>{{ item.name }}</h3>
                <p>
                  <nz-tooltip [nzTitle]="item.introduce">
                    <p nz-tooltip>{{ item.introduce }}</p>
                  </nz-tooltip>
                </p>
                <div style="margin-top: 16px; margin-bottom: 6px; text-align: center;">
                  <button nz-button [nzType]="'primary'" style="width: 80%;" [routerLink]="{outlets: {aux: 'join/0'}}">我要参加</button>
                </div>
              </div>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </nz-spin>
  </div>
</div>

<router-outlet name="aux"></router-outlet>