<div class="container">
  <div class="header">
    <div class="search-input">
      <nz-input nzPlaceHolder="请输入活动名称" [(ngModel)]="queryForm.name" [nzType]="'search'" (nzOnSearch)="searchSubmit()">
        <ng-template #addOnAfter>
          <button nz-button [nzType]="'primary'" (click)="searchSubmit()">
            <span>搜 索</span>
          </button>
        </ng-template>
      </nz-input>
    </div>
    <div class="search-form">
      <div class="form-item">
        <div class="item-label">场景:</div>
        <div class="item-content">
          <nz-checkable-tag [nzChecked]="!queryForm.scencesId.length || queryForm.scencesId.length === sceneItems.length" (nzChange)="queryCheckAll($event, 'scencesId')">全部</nz-checkable-tag>
          <nz-checkable-tag *ngFor="let item of sceneItems" [nzChecked]="queryForm.scencesId.indexOf(item.id) > -1"  (nzChange)="queryCheckChange($event, 'scencesId', item.id)">{{ item.name }}</nz-checkable-tag>
        </div>
      </div>
      <div class="form-item">
        <div class="item-label">节日:</div>
        <div class="item-content">
          <nz-checkable-tag [nzChecked]="!queryForm.festivalId.length || queryForm.festivalId.length === festivalItems.length" (nzChange)="queryCheckAll($event, 'festivalId')">全部</nz-checkable-tag>
          <nz-checkable-tag *ngFor="let item of festivalItems" [nzChecked]="queryForm.festivalId.indexOf(item.id) > -1" (nzChange)="queryCheckChange($event, 'festivalId', item.id)">{{ item.name }}</nz-checkable-tag>
        </div>
      </div>
    </div>
  </div>

  <div class="content" nz-row>

    <nz-spin [nzSpinning]="activityLoading" nzTip="正在加载模板数据...">
      <div class="content-not-found" [hidden]="activityItems.length">
        <i class="anticon anticon-frown-o"></i>无结果!
      </div>
      <div nz-col [nzXs]="24" [nzSm]="8" [nzLg]="6" [nzXl]="4" *ngFor="let item of activityItems">
        <div class="card-item" *ngIf="item.status != -1">
          <nz-card>
            <ng-template #body>
              <div class="custom-image">
                <img class="thumbnail" [src]="item.thumbnail" />
                <!-- <div class="qrcode" *ngIf="item.joinStatus == 1">
                  <img src="http://qr.liantu.com/api.php?text={{ externalServer }}/download-wx.html?id={{ item.id }}|{{ item.storeId }}">
                </div> -->
              </div>
              <div class="custom-card">
                <h3>
                  {{ item.name }}
                </h3>
                <p>
                  <nz-tooltip [nzTitle]="item.introduce">
                    <p nz-tooltip>{{ item.introduce }}</p>
                  </nz-tooltip>
                </p>
                <div class="card-footer">
                  <button nz-button [nzType]="'primary'" *ngIf="item.joinStatus == 0" (click)="joinActivity(item)" [nzLoading]="item.loading">我要参加</button>
                  <button nz-button *ngIf="item.joinStatus == 1" (click)="cancelActivity(item)" [nzLoading]="item.loading">取消参加</button>
                </div>
              </div>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </nz-spin>
  </div>
</div>

<router-outlet name="aux"></router-outlet>

<nz-modal [nzVisible]="isVisible" nzTitle="参加活动" [nzContent]="modalContent" [nzFooter]="modalFooter">
  <ng-template #modalContent>
      <div nz-row style="margin-bottom: 16px;">
        <div nz-col [nzSm]="6" [nzXs]="24" style="line-height: 30px; text-align: right; padding-right: 12px;">
          <label>接收短信手机号:</label>
        </div>
        <div nz-col [nzSm]="10" [nzXs]="24">
          <nz-input [(ngModel)]="activityJoinForm.bossPhone" nzSize="large" nzPlaceHolder="请选择活动价格" style="width: 100%;"></nz-input>
        </div>
      </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="isVisible = false">
      返 回
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)" [nzLoading]="activityItem?.loading">
      提 交
    </button>
  </ng-template>
</nz-modal>