<form nz-form [formGroup]="_queryForm">
  <div nz-row [nzGutter]="30">

    <ng-container *ngFor="let control of _node">
      <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24" [style.display]="isCollapse && control.isHide ? 'none' : 'block'">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="5">
            <label [attr.for]="control.key">{{ control.label }}</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="19">

            <ng-container *ngIf="control.type === 'input'">
              <nz-input nzType="search" (nzOnSearch)="_submit()" nzSize="large" [formControlName]="control.key" [nzPlaceHolder]="control.placeholder" [nzId]="control.key">
                <ng-template #suffix>
                  <i class="anticon anticon-close-circle" (click)="_clearControlValue(control.key)"></i>
                </ng-template>
              </nz-input>
            </ng-container>
            
            <ng-container *ngIf="control.type === 'select'">
              <nz-select nzSize="large" [formControlName]="control.key" [nzPlaceHolder]="control.placeholder" nzShowSearch nzAllowClear>
                <nz-option *ngFor="let option of control.options" [nzLabel]="option[control.optionKey?.label]" [nzValue]="option[control.optionKey?.value]" [nzDisabled]="option?.disabled"></nz-option>
              </nz-select>
            </ng-container>

            <ng-container *ngIf="control.type === 'datepicker'">
              <nz-rangepicker nzSize="large" [formControlName]="control.key" [nzPlaceholder]="[control.placeholder[0] || '开始日期', control.placeholder[1] || '结束日期']"></nz-rangepicker>
            </ng-container>

            <ng-container *ngIf="control.type === 'numbetween'">
              <nz-input-group nzSize="large" nzCompact style="display: flex;">
                <nz-input-number nzSize="large" [formControlName]="control.valueKey[0]" [nzMin]="0" [nzPlaceHolder]="control.placeholder ? control.placeholder[0] : '最小值'" [nzStep]="1" style="flex: 1; margin-right: 0;" (nzBlur)="numbetweenBlur(control.valueKey[0])"></nz-input-number>
                <input type="text" nzSize="large" placeholder="~" nz-input style="width: 24px; pointer-events: none;">
                <nz-input-number nzSize="large" [formControlName]="control.valueKey[1]" [nzMin]="0" [nzPlaceHolder]="control.placeholder ? control.placeholder[1] : '最大值'" [nzStep]="1" style="flex: 1; margin-right: 0;" (nzBlur)="numbetweenBlur(control.valueKey[1])"></nz-input-number>
              </nz-input-group>
            </ng-container>

          </div>
        </div>
      </div>
    </ng-container>
    <div nz-form-item nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24" [style.text-align]="'right'" [style.float]="'right'">
      <button nz-button nzSize="large" nzType="primary" (click)="_submit()">查询</button>
      <button nz-button nzSize="large" (click)="_reset()" style="margin-left: 8px;">重置</button>
      <ng-content></ng-content>
      <a style="margin-left:8px;font-size:12px;" (click)="isCollapse = !isCollapse" *ngIf="_showSlideBtn">
        {{ isCollapse ? '展开' : '收起' }}
        <i class="anticon" [class.anticon-down]="isCollapse" [class.anticon-up]="!isCollapse"></i>
      </a>
    </div>
  </div>
</form>
