<div class="ui-logo">
  <img src="./assets/images/logo.png" alt="">
</div>
<div class="ui-menu">
  <ul nz-menu [nzMode]="'inline'" nzTheme='dark'>
    <li nz-menu-item [routerLink]="['/home/test/testlist']">
      <span title>
        <i class="anticon anticon-mail"></i>
        <span>Welcome</span>
      </span>
    </li>
    <li nz-menu-item [routerLink]="['/home/wechat/wechat-program']">
      <span title>
        <i class="anticon anticon-mail"></i>
        <span>微信小程序</span>
      </span>
    </li>
    <li nz-submenu>
      <span title>
        <i class="anticon anticon-appstore"></i>
        <span>客户管理</span>
      </span>
      <ul>
        <li nz-submenu>
          <span title>全部客户</span>
          <ul>
            <li nz-menu-item>待分配客户</li>
            <li nz-menu-item>已分配客户</li>
          </ul>
        </li>
        <li nz-menu-item>跟踪记录</li>
        <li nz-menu-item>到访</li>
        <li nz-menu-item>公海池</li>
        <li nz-menu-item>回收站</li>
        <li nz-menu-item>分配规则设置</li>
      </ul>
    </li>

  </ul>
</div>