.ui-logo{
  height: 64px;
  background: #002140;
  overflow: hidden;
  & > img{
    height: 36px;
    margin-top: 14px;
    margin-left: 26px;
  }
}

:host ::ng-deep {
  span {
    font-size: 14px;
  }
  .ant-menu.ant-menu-root {
    background: #001529;
  }

  .ant-menu.ant-menu-sub.ng-star-inserted{
    background: #000c17;
  }
  .ant-menu-item{
    outline: none;
  }
}