.ui-content{
  height: 100%;
  overflow: auto;

  & > div {
    height: 100%;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow-y: auto;
  }

  &.has-breadcrumb{
    padding-top: 50px;
  }
}