
/* base */
.ant-layout{
  height: 100%;
  overflow: hidden;
}

/* header */
.ant-layout-header {
  background: #fff;
  padding: 0 20px;
}
/* menu */
.ant-layout-sider {
  background: #000f2d;
}
/* content */
.ant-layout-content {
  height: 100%;
  padding-bottom: 64px;
  background: #f0f2f5;
  position: relative;
}