/* base */
.ant-layout {
  height: 100%;
  background: #fff;
}

/* header */
.ant-layout-header {
  background: #fff;
  padding: 0;
}
/* menu */
.ant-layout-sider {
  background: #001529;
}
/* content */
.ant-layout-content {
  position: relative;
}

.ant-layout-footer {
  padding: 0;
  background: #fff;
}