<cm-query #CmQuery [node]="queryNode" (onSubmit)="CmTable.request($event)">
  <button nz-button nzSize="large" nzType="primary" [style.margin-left]="'8px'" (click)="exportEffectiveUser()">导出数据</button>
</cm-query>

<cm-table #CmTable [thead]="tableNode" [paramsDefault]="paramsDefault" [allowSpace]="false" url="/market/effectiveUserList">
  <ng-container>
    <tbody nz-tbody>
      <ng-template ngFor let-data [ngForOf]="CmTable.dataSet">
        <tr nz-tbody-tr>
          <td>{{ data.num }}</td>
          <td>{{ data.createDate }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.birthday }}</td>
          <td>{{ data.mobilePhone }}</td>
          <td>{{ data.contributors }}</td>
        </tr>
      </ng-template>
    </tbody>
  </ng-container>
</cm-table>