.cm-title {
    padding-left: 14px;
    margin-bottom: 24px;
    color: #666;
    font-size: 16px;
    line-height: 50px;
    font-weight: 400;
    background: #f7f7f7;
    border-left: solid 5px #118ee9;
    border-radius: 2px;
}