<div class="wechat-box">

  <div class="wechat-store-effect">
  
    <app-store-effect [storeInfo]="storeInfo"></app-store-effect>

  </div>

  <div class="wechat-store-content">

    <nz-tabset>
      <nz-tab>
        <ng-template #nzTabHeading>
          <i class="anticon anticon-appstore-o"></i>
          门店信息
        </ng-template>
        
        <app-store-info [(storeInfo)]="storeInfo"></app-store-info>

      </nz-tab>
      <!-- <nz-tab>
        <ng-template #nzTabHeading>
          <i class="anticon anticon-dot-chart"></i>
          门店活动
        </ng-template>
        
        <app-store-activity></app-store-activity>

      </nz-tab> -->
    </nz-tabset>

  </div>


</div>