.wechat-store-effect{
    width: 375px;
    height: 758px;
    padding: 150px 29px 0 26px;
    background: url(/assets/images/wechat/iphone-bg.png);
    position: absolute;
    top: 15px;
    left: 15px;
}

.wechat-store-content{
    height: 600px;
    margin-left: 380px;
    padding-left: 20px;
    border-left: dashed 2px #eee;
}