.wechat-store-effect{
	width: 439px;
	height: 888px;
	padding: 172px 34px 0 30px;
	background: url(/assets/images/wechat/iphone-bg.png);
	position: absolute;
	top: 30px;
	left: 30px;
}

.wechat-store-content{
	min-height: 900px;
	margin-left: 490px;
	padding-left: 20px;
	border-left: dashed 2px #eee;
}