<div class="container">

  <nz-spin [nzSpinning]="isLoading" nzTip="正在读取数据...">

    <div class="box">

        <div class="header">
          <div class="head-image">
            <img src="/assets/images/default-boy.png" alt="用户头像">
          </div>
          <div class="head-title">{{ userInfo?.nick }}</div>
          <div class="head-content">
            <div *ngIf="userInfo?.lastFollowTime">
              <label>最后跟进时间：</label>
              <span>{{ userInfo?.lastFollowTime }}</span>
            </div>
            <div *ngIf="userInfo?.nextFollowTime">
              <label>下次跟进时间：</label>
              <span>{{ userInfo?.nextFollowTime }}</span>
            </div>
            <div>
              <label>跟进销售：</label>
              <span>{{ currentUserName }}</span>
            </div>
            <div>
              <label>跟进阶段：</label>
              <span>{{ userInfo?.followStage }}</span>
            </div>
          </div>
          <div class="head-buttons">
            <button nz-button [nzType]="'primary'" style="margin-right: 12px;" [routerLink]="['/home/customer/create', _id]">编辑</button>
            <nz-button-group>
              <!-- <button nz-button>转为会员</button>
              <button nz-button>转给他人</button> -->
              <button nz-button>
                <nz-popconfirm [nzTitle]="'确定要移到无意向客户吗？'" (nzOnConfirm)="intentionCustomer()">
                  <span nz-popconfirm>移到无意向客户</span>
                </nz-popconfirm>
              </button>
            </nz-button-group>
          </div>
        </div>

        <nz-tabset>
          <nz-tab>
            <ng-template #nzTabHeading>详细信息</ng-template>
            <div nz-row class="details">
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>姓名</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">{{ userInfo?.name || '--' }}</div>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>昵称</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">{{ userInfo?.nick }}</div>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>性别</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">
                    <i class="iconfont" [title]="userInfo?.sex" [ngClass]="[ userInfo?.sex === '男' ? 'icon-nan' : 'icon-nv']"></i>
                  </div>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>生日</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">{{ userInfo?.birthday || '--' }}</div>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>月龄</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">{{ userInfo?.birthday | monthdiff }}</div>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>星座</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">{{ userInfo?.constellation || '--' }}</div>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>家长姓名</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">{{ userInfo?.parentName || '--' }}</div>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>手机号码</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">
                    <a href="javascript:;" (click)="getPhone()">{{ userInfo?.phone || '查看' }}</a>
                  </div>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>家长关系</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">{{ userInfo?.parentRelationShip || '--' }}</div>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>微信/QQ</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">{{ userInfo?.parentWeChat || '--' }}</div>
                </div>
              </div>
              <div nz-col [nzSpan]="8">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="8">
                    <label>来源</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="16">{{ userInfo?.sourceName || '--' }}</div>
                </div>
              </div>
              <div nz-col [nzSpan]="20">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="3">
                    <label>备注</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="21">{{ userInfo?.visitRemarks || '--' }}</div>
                </div>
              </div>
            </div>
          </nz-tab>
          <nz-tab>
            <ng-template #nzTabHeading>跟进记录({{ followRecord.length }})</ng-template>
            <div class="record">
              <form nz-form [formGroup]="recordFormModel" (ngSubmit)="_submitFollowRecord()">
                <div nz-form-item>
                  <div nz-form-control [nzValidateStatus]="recordFormModel.get('textarea')">
                    <nz-input formControlName="content" nzType="textarea" [nzAutosize]="{ minRows: 3, maxRows: 6 }" nzPlaceHolder="新建跟进记录......(必填, 限200字)"></nz-input>
                    <div nz-form-explain *ngIf="recordFormModel.get('content').dirty && recordFormModel.get('content').hasError('required')">请输入200字以下跟进记录</div>
                  </div>
                </div>
                <div nz-form-item *ngIf="labelList.length">
                  <div class="tags-content">
                    <nz-tag nzColor="blue" (click)="tapTag('#'+ item.name +'#', recordFormModel)" *ngFor="let item of labelList">#{{ item.name }}#</nz-tag>
                  </div>
                </div>
                <div nz-row>
                  <div nz-form-item nz-col [nzSpan]="4" style="padding-right: 15px;">
                    <div nz-form-control>
                      <nz-switch formControlName="status">
                        <span checked>已预约到店</span>
                        <span unchecked>未预约到店</span>
                      </nz-switch>
                    </div>
                  </div>
                  <div nz-form-item nz-col [nzSpan]="4" style="padding-right: 15px;">
                    <div nz-form-control [nzValidateStatus]="recordFormModel.get('followType')">
                      <nz-select formControlName="followType" nzPlaceHolder="请选择跟进方式">
                        <nz-option *ngFor="let item of followTypeList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                      </nz-select>
                      <div nz-form-explain *ngIf="recordFormModel.get('followType').dirty && recordFormModel.get('followType').hasError('required')">请选择跟进方式</div>
                    </div>
                  </div>
                  <div nz-form-item nz-col [nzSpan]="4" style="padding-right: 15px;">
                    <div nz-form-control [nzValidateStatus]="recordFormModel.get('followStage')">
                      <nz-select formControlName="followStage" nzPlaceHolder="请选择客户状态">
                        <nz-option *ngFor="let item of showMemberStatus" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                      </nz-select>
                      <div nz-form-explain *ngIf="recordFormModel.get('followStage').dirty && recordFormModel.get('followStage').hasError('required')">请选择跟进状态</div>
                    </div>
                  </div>
                  <div nz-form-item nz-col [nzSpan]="4">
                    <div nz-form-control>
                      <nz-datepicker formControlName="nextFollowTime" nzPlaceHolder="选择下次跟进时间"></nz-datepicker>
                    </div>
                  </div>
                  <div nz-form-item nz-col [nzSpan]="8" style="text-align: right">
                    <button nz-button nzType="primary">发布</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="record-list">
              <cm-quote>跟踪记录</cm-quote>
              <div class="not-found" *ngIf="!followRecord.length">
                <i class="iconfont icon-wushuju"></i>
                <div>暂无记录</div>
              </div>
              <nz-timeline>
                <nz-timeline-item *ngFor="let item of followRecord; let idx = index">
                  <nz-card>
                    <ng-template #title>
                      <div class="record-card-title">
                        <div>
                          <label>跟进时间：</label><span>{{ item.createTime }}</span>
                        </div>
                        <div>
                          <label>跟进状态：</label><span>{{ item.followStage == 1 ? '潜在客户' : item.followStage == 2 ? '初步接触' : item.followStage == 3 ? '持续跟进' : '意向客户' }}</span>
                        </div>
                        <div>
                          <label>跟进方式：</label><span>{{ item.followType == 1 ? '电话' : item.followType == 2 ? '微信' : item.followType == 3 ? 'Q Q' : '面谈' }}</span>
                        </div>
                        <div>
                          <label>跟进阶段：</label><span>第{{ followRecord.length - idx }}次跟进</span>
                        </div>
                        <div>
                          <nz-tag nzColor="#2db7f5" *ngIf="item.status == 0">已预约到店</nz-tag>
                          <nz-tag nzColor="#ccc" *ngIf="item.status == 1">未预约到店</nz-tag>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #extra>
                      <nz-popover>
                        <a href="javascript:;" nz-popover style="margin-right: 5px;" *ngIf="item.status == 0">到店记录</a>
                        <ng-template #nzTemplate>
                          <div>
                            <ul class="record-status">
                              <li (click)="editToShopRecord(1)">已到店体验</li>
                              <li (click)="editToShopRecord(2)">已到店未体验</li>
                              <li (click)="editToShopRecord(3)">未到店</li>
                            </ul>
                          </div>
                        </ng-template>
                      </nz-popover>
                      <a href="javascript:;" (click)="updateFollowRecord(titleModal, contentModal, footerModal, item)">编辑</a>
                    </ng-template>
                    <ng-template #body>
                      <div class="card-head"><img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3566699624,797839480&fm=27&gp=0.jpg" alt="头像"></div>
                      <div class="card-title">
                        <nz-tag nzColor="#108ee9">{{ currentUserName }}</nz-tag>
                        <span>跟进家长：黄贤秋</span>
                      </div>
                      <div class="card-main" [innerHTML]="item.contentLabel"></div>
                    </ng-template>
                  </nz-card>
                </nz-timeline-item>
              </nz-timeline>
            </div>
          </nz-tab>
        </nz-tabset>

      <div class="close" [routerLink]="'/home/customer/all'"><i class="anticon anticon-close"></i></div>
    </div>

  </nz-spin>
</div>



<ng-template #titleModal>
  <span>修改跟进记录</span>
</ng-template>
<ng-template #contentModal>
  <div>
    <form nz-form [formGroup]="_updateFollowRecordFormModel">
      <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="recordFormModel.get('textarea')">
          <nz-input formControlName="content" nzType="textarea" [nzAutosize]="{ minRows: 3, maxRows: 6 }" nzPlaceHolder="新建跟进记录......(必填, 限200字)"></nz-input>
          <div nz-form-explain *ngIf="recordFormModel.get('content').dirty && recordFormModel.get('content').hasError('required')">请输入200字以下跟进记录</div>
        </div>
      </div>
      <div nz-form-item *ngIf="labelList.length">
        <div class="tags-content">
          <nz-tag nzColor="blue" (click)="tapTag('#'+ item.name +'#', _updateFollowRecordFormModel)" *ngFor="let item of labelList">#{{ item.name }}#</nz-tag>
        </div>
      </div>
      <div nz-row>
        <div nz-form-item nz-col [nzSpan]="6" style="padding-right: 15px;">
          <div nz-form-control>
            <nz-switch formControlName="status">
              <span checked>已预约到店</span>
              <span unchecked>未预约到店</span>
            </nz-switch>
          </div>
        </div>
        <div nz-form-item nz-col [nzSpan]="6" style="padding-right: 15px;">
          <div nz-form-control [nzValidateStatus]="recordFormModel.get('followType')">
            <nz-select formControlName="followType" nzPlaceHolder="请选择跟进方式">
              <nz-option *ngFor="let item of followTypeList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
            <div nz-form-explain *ngIf="recordFormModel.get('followType').dirty && recordFormModel.get('followType').hasError('required')">请选择跟进方式</div>
          </div>
        </div>
        <div nz-form-item nz-col [nzSpan]="6" style="padding-right: 15px;">
          <div nz-form-control [nzValidateStatus]="recordFormModel.get('followStage')">
            <nz-select formControlName="followStage" nzPlaceHolder="请选择客户状态">
              <nz-option *ngFor="let item of showMemberStatus" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
            <div nz-form-explain *ngIf="recordFormModel.get('followStage').dirty && recordFormModel.get('followStage').hasError('required')">请选择跟进状态</div>
          </div>
        </div>
        <div nz-form-item nz-col [nzSpan]="6">
          <div nz-form-control>
            <nz-datepicker formControlName="nextFollowTime" nzPlaceHolder="选择下次跟进时间"></nz-datepicker>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #footerModal>
  <div>
    <button nz-button nzType="primary" nzSize="large" (click)="saveUpdateFollowRecord()" [nzLoading]="_saveUpdateFollowRecordLoading">提 交</button>
  </div>
</ng-template>
